{% extends 'base.html.twig' %}

{% block title %}DevBlog - Create Category{% endblock %}

{% block body %}
<div class="max-w-2xl mx-auto mt-10 bg-white shadow-lg rounded-lg p-8">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Create New Category</h1>

    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

        <div class="block text-left font-medium text-gray-600">
            {{ form_row(form.name, {'attr': {'class': 'w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 font-medium text-gray-600'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="block text-left font-medium text-gray-600">
            {{ form_row(form.slug, {'attr': {'class': 'w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 font-medium text-gray-600'}}) }}
            {{ form_errors(form.slug) }}
        </div>

        <div class="flex justify-center">
            {{ form_widget(form.save) }}
        </div>

    {{ form_end(form) }}

    <div class="flex justify-center mt-6">
        <a href="{{ path('admin_category_index') }}" class="text-blue-600 hover:underline">← Back to Category List</a>
    </div>
</div>
{% endblock %}
